<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Cupcakes Gourmet{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h1 class="logo">Cupcakes Gourmet</h1>
        <nav class="nav">
          <a href="/">Início</a>
          <a href="/menu">Cardápio</a>
        </nav>
      </div>
    </header>

    <main class="main container">
      {% block content %}{% endblock %}
    </main>

    <footer class="footer">
      <div class="container">
        <p>Projeto acadêmico – PIT II</p>
      </div>
    </footer>
  </body>
</html>
